<?xml version="1.0" encoding="utf-8"?>
<configuration>

  
  
  <location path="users.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
       </authorization>
    </system.web>
  </location>
  
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="EditUsers.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Roles.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Access_Rules.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>