<?xml version="1.0" encoding="utf-8"?>
<configuration>



  <!--<location path="BusinessByCategory.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,License,verify,Market" />
        <deny users="*" />
       </authorization>
    </system.web>
  </location>-->

  <!--<location path="BusinessByClass.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,License,verify,Market" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>-->

  <location path="BusinessMap.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,License,verify" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="BusinessDetail.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,License,verify" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="BusinessPaymentReport.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,License,verify" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Market.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,Market" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,License,verify,Cart" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="EconomicDetailReport.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,License,verify" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="LicenseFeeDueReport.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,License,verify" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PrintMarket.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,Market" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Tarufa.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,License" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>


</configuration>